@import "tailwindcss";

@keyframes noise-shift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 512px 512px;
  }
}

/* global CSS somewhere */
.noise-overlay {
  pointer-events: none;
  mix-blend-mode: soft-light; /* or overlay, or screen for harsher */
  background-image: url("/white-noise.png");
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.15; /* will be overridden by :style opacity */
  animation: noise-shift 1.5s steps(2) infinite;
}
